.sidebar {
    color: var(--color-black);
    background-color: var(--color-white);

    .bg-sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 400px;
        background-color: var(--color-white);

        .links {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            .link-list {
                list-style: none;

                .link-item {
                    font-size: 2.6rem;
                    padding: 10px;
                    text-align: center;
                }
            }

        }
    }

    .toggle-btn {
        position: fixed;
        top: 8px;
        left: 8px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        box-shadow: 1px 2px 12px 2px var(--color-primary);

        .svg-icon {
            margin-left: 1px;
            margin-top: 5px;
        }
    }
}